<html>
<head>
	<title>Cars Giem Admin</title>
	<!-- CSS -->
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css"></script>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
	<link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
	
</head>
<body ng-app="app" ng-controller="FieldsSearchCtrl">

<div class="btn-group-vertical">
	<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-car-modal">
		<i class="fa fa-plus"></i>
		<span>Afegir Cotxe</span>
	</button>
	<button class="btn btn-primary btn-lg" 
			data-toggle="modal" 
			data-target="#add-option-modal" 
			ng-click="showOptionForm=false">
		<i class="fa fa-plus"></i>
		<span>Afegir Opció</span>
	</button>
	<button class="btn btn-primary btn-lg" 
			data-toggle="modal" 
			data-target="#edit-field-modal" 
			ng-click="showOptionForm=false">
		<i class="fa fa-edit"></i>
		<span>Editar Camps</span>
	</button>
</div>


<div class="container">
	<!-- DEBUGGING OPTIONS -->
	<div class="alert alert-info">
		<h3>Debugging para options <input  type="checkbox" ng-value="false" ng-model="showOptionDebug"> </h3>

		<ul class="list-group" ng-show="showOptionDebug">
			<li class="list-group-item" ng-repeat="field in fields">
				<p><strong>{{field.cat}}</strong></p>  
				<table class="table table-striped">
					<tr ng-repeat="option in field.options">
						<td editable-text="value" ng-repeat="(lang, value) in option" >
							<code><small>{{lang}}-</small></code>{{value || "empty"}}
						</td>
					</tr>
				</table>
			</li>
		</ul>
	</div>



	<!-- DEBUGGING COCHES -->
	<div class="alert alert-info">
		<h3>Debugging para <strong>Coches</strong> <input  type="checkbox" ng-value="true" ng-model="showCarsDebug"> </h3>

		<div class="row center-block">
			<div class="col-xs-6 row" ng-repeat="product in cars">
                <div  class="col-sm-12 col-md-8">
                    <div >
                        <!-- FOR LOOP FOR IMAGES -->
                        <img ng-repeat="img in product.images" class="" style="width: 100px; height: 100px;" 
                        src="../{{img}}" /> 
                        
                    </div>

                </div>
                
                <!-- FOR LOOP FOR PROPERTIES -->
                <ul ng-repeat=" prop in product.data"  
                 class="col-md-4 col-sm-12 list-group" >
                    <li class="list-group-item list-group-item-danger" >
                        <!-- PROPERTY -->
                        <span ng-repeat="(propName, propValue) in prop.lang.cat"  >
                            <!-- Do not change ng-if, important for compiling all-lang.py -->
                            {{prop}}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <!-- VALUE -->
                        <span ng-repeat="(lan, langProp) in prop.lang">
                            {{getValueFromPropertyObject(langProp)}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
	</div>

</div>




<!-- POPUP PER AFEGIR OPCIO -->
<div class="modal fade in" id="add-option-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 ng-click="selectedField='field'">
					<i class="fa fa-plus" style="color:red"></i>
					Afegir Opció
				</h1>
			</div>
			<div class="modal-body">
				
				<!-- ACCORDEON -->
				<div class="panel panel-default" ng-repeat="field in fields" ng-if="field.type=='select'">
					
					<!-- TITOL ACCORDEO -->
					<div class="panel-heading" ng-init="option={}">
						<a href="#" class="fa fa-plus" ng-click="showForm=showForm?false:true">
							{{field.cat}}
						</a>
					</div>
					<div ng-show="showForm" class="panel-body">
						<p class="alert alert-info">
							<strong>Debugging alert:</strong> {{option}}
						</p>
						<form class="form-group row" id="form-{{$index}}" ng-submit="addOption(field,option)">
							<div class="col-xs-6" ng-repeat="lan in languages">
								<label>{{lan | uppercase}}</label>
								<input ng-model="option[lan]" type="text" class="form-control" placeholder="Opció en {{lan}}" required>
							</div>
						</form>
					</div>
					<div ng-show="showForm" class="panel-footer">
						<button  class="btn btn-danger" ng-click="showForm=false">
							<i class="fa fa-close" ></i>
							Cancelar
						</button>
						<button type="submit" form="form-{{$index}}" class="btn btn-success" >
							<i class="fa fa-plus" ></i>
							Afegir
						</button>
					</div>
					
				</div>

			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">
					<i class="fa fa-close"></i>
					Descartar
				</button>
			</div>
		</div>
	</div>
</div>

<!-- POPUP PER AFEGIR COTXE -->
<div class="modal fade in" id="add-car-modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1>
					<i class="fa fa-plus" style="color:red"></i>
					Afegir cotxe
				</h1>
			</div>
			<div class="modal-body">
				<form >
					<h3>
						<i class="fa fa-info"></i>
						Característiques
					</h3>
					<div class="form-group row">
						<div class="col-xs-4" ng-repeat="field in fields" >
							<input class="form-control"  ng-if="field.type=='text'" placeholder="{{field.cat}}">
							<select class="form-control" ng-if="field.type=='select'">
								<option selected>{{field.cat}}</option>
								<option ng-repeat="option in field.options">{{option.cat}}</option>
							</select>
						</div>
					</div>
					<h3>
						<i class="fa fa-image"></i>
						Imatges
					</h3>
					<div flow-init="{target: '/upload'}"
   						  flow-files-submitted="$flow.upload()"
   						  flow-file-success="$file.msg = $message">
<!-- 
  						<input type="file" flow-btn/>
						<span class="btn" flow-btn>Upload File</span> -->

  						<div >
  						  <div class="row" ng-repeat="file in $flow.files">
  						      <div class="col-xs-4"><strong>{{file.name}}</strong></div>
  						      <div class="col-xs-4">{{file.msg}}</div>
  						      <div class="col-xs-4"><img class="img-responsive" flow-img="$flow.files[0]" /></div>
  						  </div>
  						</div>
  						<!-- DROP PART -->
  					<!--   <div class="jumbotron text-center "  ng-class="{'alert-warning': !isHovering, 'alert-success':  isHovering}" flow-drop style="height: 10em;"
						flow-drag-enter="isHovering=true" flow-drag-leave="isHovering=flase">
						    <p style="font-size: 2em;">Arrastra les imatges aquí <i class="fa fa-plus"></i> </p>
						</div>
					    -->
					    <div ngf.drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="false" accept="image/*">Arrastra les imatges aquí
					    </div>
					    <ul>
        					<li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
    					</ul>
					</div>
					
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning">
					<i class="fa fa-save"></i>
					Guardar
				</button>
				<button class="btn btn-danger" data-dismiss="modal">
					<i class="fa fa-close"></i>
					Descartar
				</button>
			</div>
		</div>
	</div>
</div>

	
<!-- include JS -->

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>

	<script type="text/javascript" src="js/app/app.js"></script>
	<script type="text/javascript" src="js/app/database/database.js"></script>

</body>
</html>