<html>
	<head>
		<title>Cars Giem Admin</title>
		<!-- CSS -->
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css"></script>
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"></script>
		<link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body ng-app="app" ng-controller="FieldsSearchCtrl">

		<div class="btn-group-vertical">
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#add-car-modal">
				<i class="fa fa-plus"></i>
				<span>Afegir Cotxe</span>
			</button>
			<button class="btn btn-primary btn-lg" 
				   data-toggle="modal" 
				    data-target="#add-option-modal" 
				    ng-click="showOptionForm=false">
				<i class="fa fa-plus"></i>
				<span>Afegir Opció</span>
			</button>
			<button class="btn btn-primary btn-lg" 
	   data-toggle="modal" 
    data-target="#edit-field-modal" 
    ng-click="showOptionForm=false">
				<i class="fa fa-edit"></i>
				<span>Editar Camps</span>
			</button>
		</div>


		<div class="container">
			<!-- DEBUGGING OPTIONS -->
			<div class="alert alert-info">
				<h3>Debugging para options <input  type="checkbox" ng-value="false" ng-model="showOptionDebug"> </h3>

				<ul class="list-group" ng-show="showOptionDebug">
					<li class="list-group-item" ng-repeat="field in fields">
						<p><strong>{{field.cat}}</strong></p>  
						<table class="table table-striped">
							<tr ng-repeat="option in field.options">
								<td editable-text="value" ng-repeat="(lang, value) in option" >
									<code><small>{{lang}}-</small></code>{{value || "empty"}}
								</td>
							</tr>
						</table>
					</li>
				</ul>
			</div>


			<!-- DEBUGGING COCHES -->
			<div class="alert alert-info">
				<h3>Debugging para <strong>Coches</strong> <input  type="checkbox" ng-value="true" ng-model="showCars"> </h3>

				<div class="row center-block" ng-show="showCars">
					<div class="col-xs-6 row" ng-repeat="product in cars">
						<div  class="col-sm-12 col-md-8">
							<div >
								<!-- FOR LOOP FOR IMAGES -->
								<img ng-repeat="img in product.images" class="" style="width: 100px; height: 100px;" 
							src="../{{img}}" /> 

							</div>

						</div>

						<!-- FOR LOOP FOR PROPERTIES -->
						<ul ng-repeat=" prop in product.data"  
	  class="col-sm-6 list-group" >
	  <li class="list-group-item list-group-item-danger" >
		  <!-- PROPERTY -->
		  <span ng-repeat="(propName, propValue) in prop.lang.cat"  >
			  <!-- Do not change ng-if, important for compiling all-lang.py -->
			  {{propName}} 
			  - 
			  <code>
				  {{propValue}}
			  </code>
		  </span>
		  <i  class="fa fa-edit pull-right" ng-click="showEditForm=showEditForm?false:true" style="cursor: pointer;"></i>
	  </li>
	  <li class="list-group-item" ng-show="showEditForm" ng-repeat="(propName, propValue) in prop.lang.cat" >
		  <!-- VALUE -->
		  <input class="form-control" type="text" ng-if="getField(propName).type=='text'" ng-value="propValue">
		  <select class="form-control" ng-if="getField(propName).type=='select'">
			  <option ng-repeat="option in getField(propName).options">{{option.cat}}</option>
		  </select>
	  </li>
						</ul>
					</div>
				</div>
			</div>

		</div>

		<div modal-add type="car"></div>
		<div modal-add type="option"></div>

		<!-- include JS -->

		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
		<script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>

		<script type="text/javascript" src="js/app/app.js"></script>
		<script type="text/javascript" src="js/app/database/database.js"></script>
		<script type="text/javascript" src="js/app/modalAdd/modalAdd.js"></script>
		<script type="text/javascript" stc="js/app/fileUpload/fileUpload.js"></script>

	</body>
</html>
